<td>
  <% book.book_coments.each do |book_coment| %>
   <%= link_to(book.user) do %>
   <%= image_tag book_coment.user.get_profile_image, size:'100x100' %><br>
   <%= book_coment.user.name %>
  <% end %>
 </td>
 <td><%= book_coment.coment %></td>
 <td>
   <% if book_coment.user == current_user %>
    <%= link_to "Destroy", book_book_coment_path(book_coment.book, book_coment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
   <% end %>
 </td>
<% end %>